table{
    width: 50%;
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

th, td{
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 3px;
}

h1{
    text-align: center;
}

.rank{
    background-color: black;
    color: white;
    text-align: center;
}

.country{
    text-align: left;
}

.gold{
    background-color: gold;
    text-align: center;
}

.silver{
    background-color: silver;
    text-align: center;
}

.bronze{
    background-color: rgba(205,127,50);
    text-align: center;
}

.total{
    background-color: green;
    text-align: center;
}

tr:hover{
    background-color: gray;
}

td:hover{
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 2px;
}

th:hover{
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 2px;
    background-color: gray;
}